<div class="flex-1 space-y-4">
  <p class="text-slate-400 leading-relaxed">
    Actualmente soy estudiante de último año de Ingeniería en Informática en
    <span class="text-blue-500">Duoc</span>
    <span class="text-yellow-400 font-bold">UC</span>, con una visión integral
    del desarrollo: creo firmemente que el buen código no solo debe ser
    funcional, sino también seguro, escalable y capaz de generar un impacto real
    en los usuarios.
  </p>

  <p class="text-slate-400 leading-relaxed">
    Mi perfil técnico se enfoca fuertemente en la <span
      class="text-slate-200 font-medium"
      >calidad de software y la seguridad de redes</span
    >, respaldado por mi formación base como Técnico en Telecomunicaciones.
    Disfruto el reto de resolver problemas complejos, ya sea estructurando la
    arquitectura de redes, creando asistentes virtuales o ideando soluciones con
    chips NFC.
  </p>

  <p class="text-slate-400 leading-relaxed">
    Más allá de la terminal, tengo un espíritu emprendedor que actualmente
    aplico en la creación y desarrollo de mi propia marca de ropa, <span
      class="text-slate-200 font-medium">Dreams Project</span
    >. Construir un proyecto desde cero me ha dado una perspectiva invaluable
    sobre cómo el diseño, la experiencia de usuario y el modelo de negocio deben
    alinearse perfectamente con el desarrollo web.
  </p>

  <p class="text-slate-400 leading-relaxed">
    No me conformo con solo escribir líneas de código; busco entender el
    producto en su totalidad para asegurar que la solución tecnológica final sea
    tan robusta por detrás como intuitiva por delante.
  </p>
</div>
