<div class="border border-slate-700 bg-slate-800/40 rounded-xl p-8">
  <ol class="relative border-l border-slate-700 ml-3 space-y-8 list-none">
    <li class="pl-8 relative">
      <div
        class="absolute w-2.5 h-2.5 bg-blue-500 rounded-full -left-[5px] top-1.5 ring-4 ring-slate-900"
      >
      </div>

      <h4 class="text-xl font-semibold text-white">
        Ingeniería en Informática | Duoc UC
      </h4>
      <time
        class="text-xs text-blue-400 font-medium uppercase tracking-wider block mt-1"
      >
        2023 - Actualidad
      </time>
      <p class="text-slate-400 text-sm mt-2 leading-relaxed">
        Diseño, desarrollo y despliegue de soluciones informáticas para la
        resolución de problemas complejos. Especialización enfocada en el
        desarrollo Full Stack, la calidad de software y la seguridad de redes,
        aplicando estándares de la industria en equipos multidisciplinarios.
      </p>
    </li>

    <li class="pl-8 relative">
      <div
        class="absolute w-2.5 h-2.5 bg-blue-500 rounded-full -left-[5px] top-1.5 ring-4 ring-slate-900"
      >
      </div>

      <h4 class="text-xl font-semibold text-white">
        Práctica Laboral: Técnico en Telecomunicaciones | Tecnologías KOZ
      </h4>
      <time
        class="text-xs text-blue-400 font-medium uppercase tracking-wider block mt-1"
      >
        Sept 2023 - Oct 2023
      </time>
      <p class="text-slate-400 text-sm mt-2 leading-relaxed">
        Análisis y diseño de soluciones tecnológicas. Elaboración de
        documentación técnica detallada para la resolución de proyectos,
        aplicando bases sólidas de infraestructura.
      </p>
    </li>

    <li class="pl-8 relative">
      <div
        class="absolute w-2.5 h-2.5 bg-blue-500 rounded-full -left-[5px] top-1.5 ring-4 ring-slate-900"
      >
      </div>

      <h4 class="text-xl font-semibold text-white">
        Técnico en Telecomunicaciones | Liceo Politécnico Andes (Duoc UC)
      </h4>
      <time
        class="text-xs text-blue-400 font-medium uppercase tracking-wider block mt-1"
      >
        2019 - 2022
      </time>
      <p class="text-slate-400 text-sm mt-2 leading-relaxed">
        Formación base en programación, programación web, hardware, conectividad
        de redes y sistemas operativos.
      </p>
    </li>
  </ol>
</div>
