---
import AutoPartsCard from "./projectcards/AutoPartsCard.astro";
import QAAutoPartsCard from "./projectcards/QAAutoPartsCard.astro";
import PortfolioWebCard from "./projectcards/PortfolioWebCard.astro";
---

<section id="proyectos" class="mt-20">
    <h2 class="text-3xl font-bold text-white mb-6 flex items-center gap-3">
        Proyectos Destacados
    </h2>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <AutoPartsCard />
        <QAAutoPartsCard />
        <PortfolioWebCard />
    </div>
</section>
