---
import Layout from '../layouts/Layout.astro';
import '../global.css';


import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Ariel Valverde | Ingeniero en Informática">
    <Header />
    
    <main class="px-6 py-10 md:px-12 md:py-12">
        <Hero />
        <Projects />
    </main>
            
            <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
               </div>
        </section>
    </main>
</Layout>